# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

# trigger workflow

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    container: thyscbio/bio:v1.9
    steps:
    - uses: actions/checkout@v2
    #- name: Set up Python 3.8
    #  uses: actions/setup-python@v2
    #  with:
    #    python-version: 3.8
    - name: Install dependencies
      run: |
        git clone https://thys_potgieter@bitbucket.org/thys_potgieter/cbio-proteogenomics-tests.git
        pip3 install --upgrade pip
        pip3 install flake8 pytest
        if [ -f requirements.txt ]; then pip3 install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pwd
        export PATH=$PATH::/__w/proteomics-pipelines/proteomics-pipelines/bin/python:/__w/proteomics-pipelines/proteomics-pipelines/bin/bash:/__w/proteomics-pipelines/proteomics-pipelines/bin/R:/__w/proteomics-pipelines/proteomics-pipelines/bin/perl
        export PYTHONPATH=$PYTHONPATH::/__w/proteomics-pipelines/proteomics-pipelines/lib
        echo $PATH
        cd cbio-proteogenomics-tests/lib && pytest 
